.name-highlight{
    color:#d8207c;
    font-size: 40px;
}
.half-width{
    float: left;
}
.top-banner{
    height: 500px;

}
.link-button{
    color: #fff;
    padding: 10px 20px; 
    background-color: #d8207c;
    text-decoration: none;
    border-radius: 5px;
}